USE [master]
GO
/****** Object:  Database [Institute_Of_Fine_Arts]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE DATABASE [Institute_Of_Fine_Arts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Institute_Of_Fine_Arts', FILENAME = N'C:\Users\User\Institute_Of_Fine_Arts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Institute_Of_Fine_Arts_log', FILENAME = N'C:\Users\User\Institute_Of_Fine_Arts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Institute_Of_Fine_Arts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Institute_Of_Fine_Arts]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AwardTitle] [nvarchar](max) NOT NULL,
	[AwardedDate] [datetime2](7) NOT NULL,
	[StudentId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitions]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[AwardId] [int] NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Banner] [nvarchar](max) NULL,
 CONSTRAINT [PK_Competitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExhibitedPaintings]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExhibitedPaintings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostingId] [int] NOT NULL,
	[ExhibitionId] [int] NOT NULL,
	[PriceQuoted] [decimal](18, 2) NOT NULL,
	[IsSold] [bit] NOT NULL,
	[SoldPrice] [decimal](18, 2) NULL,
	[IsPaidToStudent] [bit] NOT NULL,
	[BuyerDetails] [nvarchar](max) NULL,
	[paintingId] [int] NOT NULL,
 CONSTRAINT [PK_ExhibitedPaintings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ExhibitionDate] [datetime2](7) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Banner] [nvarchar](max) NULL,
 CONSTRAINT [PK_Exhibitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paintings]    Script Date: 10/4/2026 10:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paintings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[PaintingName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PoemOrQuote] [nvarchar](max) NULL,
	[PaintingImage] [nvarchar](max) NULL,
	[DatePosted] [datetime2](7) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[Creativity] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_Paintings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260201074656_init101', N'8.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260729034626_init108', N'8.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260911053046_init119', N'8.0.14')
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [UserId], [UserName], [Action], [Description], [Icon], [CreatedAt]) VALUES (1, N'74155530-03c5-4680-8ade-7c218d2b6c96', N'Admin', N'Reviewed painting', N'Aang Avatar', N'fa-eye', CAST(N'2026-09-30T08:04:53.9870684' AS DateTime2))
INSERT [dbo].[Activities] ([Id], [UserId], [UserName], [Action], [Description], [Icon], [CreatedAt]) VALUES (2, N'e4599ba4-9105-4ce1-aa9c-1e3d80956bc3', N'walter', N'Added a new painting submission', N'kjmiomj', N'fa-image', CAST(N'2026-09-30T09:13:12.1457821' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'067f1040-cff6-473c-993b-ee3f7f64de7a', N'Manager', N'MANAGER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'094fbdfb-7740-4324-9df7-138ceb620569', N'Staff', N'STAFF', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'82f317a5-04bc-4dc9-b77a-f5e0f338a905', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7143a77f-e653-4068-818f-00625fa89e6a', N'067f1040-cff6-473c-993b-ee3f7f64de7a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2a5db2e9-08b9-4920-870e-679f6c99686f', N'094fbdfb-7740-4324-9df7-138ceb620569')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f0d795f2-e61d-4023-9ca2-351d9a2c6415', N'094fbdfb-7740-4324-9df7-138ceb620569')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'032b5c68-8608-4deb-b6ee-19573d1de31f', N'Haseeb', N'HASEEB', N'haseeb@gmail.com', N'HASEEB@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEPN+LUDUhEGOYNd3z2gCxXqM5fqOnK6GGIvtsO13k+24fh1I+IOTXN6mMsjP7eqsQA==', N'UDETG43RY74KNBUV5FZTNV7MAU6U7I5J', N'05b1482b-70cf-4e0f-85ef-46fc404124e9', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'2a5db2e9-08b9-4920-870e-679f6c99686f', N'Shabbir', N'SHABBIR', N'shabbir@gmail.com', N'SHABBIR@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEChQEuZJEZXEskuZFqdtt36rIZC+fyLm8Eh/Q+yAPjM40rxpMRSBs3eof62ltNXSLQ==', N'HPKLYWPDW5XGCZODY4OAZ6NGXUNVNFDT', N'8a11960f-fef7-4090-a5ac-aa0d1066270c', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'2ae471f0-5a43-472d-949c-b604dceec21f', N'Dainiel', N'DAINIEL', N'dainiel@gmail.com', N'DAINIEL@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEPYoyxRzsOA7YN6kbjXbBhSt4GV60xNcY+tvAOFNt22ImxB1Z745YON6PcjUbti5pw==', N'ZWBH3K5FSQL3PLYEELZID25KO27WK222', N'872d4aeb-a21e-4f5d-986b-6ad74d3ba465', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([Id], [AwardTitle], [AwardedDate], [StudentId]) VALUES (5, N'Anual Art Gala 2025 Trophy', CAST(N'2025-03-20T00:00:00.0000000' AS DateTime2), N'032b5c68-8608-4deb-b6ee-19573d1de31f')
INSERT [dbo].[Awards] ([Id], [AwardTitle], [AwardedDate], [StudentId]) VALUES (6, N'Anual Art Gala 2024 Trophy', CAST(N'2024-02-14T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Awards] ([Id], [AwardTitle], [AwardedDate], [StudentId]) VALUES (7, N'Modern Expressionism Contest 2024 Trophy', CAST(N'2024-08-18T00:00:00.0000000' AS DateTime2), N'e4599ba4-9105-4ce1-aa9c-1e3d80956bc3')
SET IDENTITY_INSERT [dbo].[Awards] OFF
GO
SET IDENTITY_INSERT [dbo].[Competitions] ON 

INSERT [dbo].[Competitions] ([Id], [Title], [Description], [StartDate], [EndDate], [AwardId], [Status], [Banner]) VALUES (1, N'Anual Art Gala 20254', N'This is a Competition', CAST(N'2025-03-10T00:00:00.0000000' AS DateTime2), CAST(N'2025-03-20T00:00:00.0000000' AS DateTime2), 5, N'UpComming', N'Annual Art Gala 2025.png')
INSERT [dbo].[Competitions] ([Id], [Title], [Description], [StartDate], [EndDate], [AwardId], [Status], [Banner]) VALUES (2, N'Anual Art Gala 2024', N'This is a Competition', CAST(N'2024-02-04T00:00:00.0000000' AS DateTime2), CAST(N'2024-02-14T00:00:00.0000000' AS DateTime2), 6, N'Completed', N'Annual Art Gala 2024.png')
INSERT [dbo].[Competitions] ([Id], [Title], [Description], [StartDate], [EndDate], [AwardId], [Status], [Banner]) VALUES (3, N'Modern Expressionism Contest 2024', N'This is a Competition', CAST(N'2024-08-08T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-18T00:00:00.0000000' AS DateTime2), 7, N'Completed', N'Modern Expressionism Contest 2024.png')
SET IDENTITY_INSERT [dbo].[Competitions] OFF
GO
SET IDENTITY_INSERT [dbo].[Paintings] ON 

INSERT [dbo].[Paintings] ([Id], [StudentId], [PaintingName], [Description], [PoemOrQuote], [PaintingImage], [DatePosted], [CompetitionId], [Creativity], [Remarks]) VALUES (2003, N'e4599ba4-9105-4ce1-aa9c-1e3d80956bc3', N'Magestic Jester', N'This is a Joker Painting from LOTM', N'Praise The Fool', N'fool.jpg', CAST(N'2026-09-24T08:47:10.6548213' AS DateTime2), 5, N'Best', N'I Like the Context of the Fool')
INSERT [dbo].[Paintings] ([Id], [StudentId], [PaintingName], [Description], [PoemOrQuote], [PaintingImage], [DatePosted], [CompetitionId], [Creativity], [Remarks]) VALUES (2013, N'e4599ba4-9105-4ce1-aa9c-1e3d80956bc3', N'Aang Avatar', N'this character is from Avatar: the last airbender', N'5 Bendings', N'avatar-generations_rpge.jpg', CAST(N'2026-09-30T08:04:53.9663973' AS DateTime2), 5, N'Good', N'It''s good')
INSERT [dbo].[Paintings] ([Id], [StudentId], [PaintingName], [Description], [PoemOrQuote], [PaintingImage], [DatePosted], [CompetitionId], [Creativity], [Remarks]) VALUES (2015, N'e4599ba4-9105-4ce1-aa9c-1e3d80956bc3', N'John Wick', N'It is a John Wick Painting', N'Oh Yeah, I Think I am Back', N'john wick.jpg', CAST(N'2026-09-13T10:48:23.4919515' AS DateTime2), 5, N'Moderate', N'Color Conttrast can be better.')
SET IDENTITY_INSERT [dbo].[Paintings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Awards_StudentId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Awards_StudentId] ON [dbo].[Awards]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Competitions_AwardId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Competitions_AwardId] ON [dbo].[Competitions]
(
	[AwardId] ASC
)
WHERE ([AwardId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExhibitedPaintings_ExhibitionId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExhibitedPaintings_ExhibitionId] ON [dbo].[ExhibitedPaintings]
(
	[ExhibitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExhibitedPaintings_paintingId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExhibitedPaintings_paintingId] ON [dbo].[ExhibitedPaintings]
(
	[paintingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Paintings_CompetitionId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Paintings_CompetitionId] ON [dbo].[Paintings]
(
	[CompetitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Paintings_StudentId]    Script Date: 10/4/2026 10:34:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Paintings_StudentId] ON [dbo].[Paintings]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Paintings] ADD  DEFAULT ((0)) FOR [CompetitionId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK_Awards_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK_Awards_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[Competitions]  WITH CHECK ADD  CONSTRAINT [FK_Competitions_Awards_AwardId] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[Competitions] CHECK CONSTRAINT [FK_Competitions_Awards_AwardId]
GO
ALTER TABLE [dbo].[ExhibitedPaintings]  WITH CHECK ADD  CONSTRAINT [FK_ExhibitedPaintings_Exhibitions_ExhibitionId] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibitions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExhibitedPaintings] CHECK CONSTRAINT [FK_ExhibitedPaintings_Exhibitions_ExhibitionId]
GO
ALTER TABLE [dbo].[ExhibitedPaintings]  WITH CHECK ADD  CONSTRAINT [FK_ExhibitedPaintings_Paintings_paintingId] FOREIGN KEY([paintingId])
REFERENCES [dbo].[Paintings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExhibitedPaintings] CHECK CONSTRAINT [FK_ExhibitedPaintings_Paintings_paintingId]
GO
ALTER TABLE [dbo].[Paintings]  WITH CHECK ADD  CONSTRAINT [FK_Paintings_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Paintings] CHECK CONSTRAINT [FK_Paintings_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[Paintings]  WITH CHECK ADD  CONSTRAINT [FK_Paintings_Competitions_CompetitionId] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Paintings] CHECK CONSTRAINT [FK_Paintings_Competitions_CompetitionId]
GO
USE [master]
GO
