@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="createexhibition container">
    <h2>Create New Exhibition</h2>
    <form action="add_exhibition.php" method="POST" enctype="multipart/form-data">

        <label for="title">Exhibition Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea>

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="banner">Upload Banner Image:</label>
        <input type="file" id="banner" name="banner" accept="image/*">

        <button type="submit">Create Exhibition</button>
    </form>
</div>